<div style="background: green; margin: 20px; padding: 20px;">

    <h3>User component</h3>
    <span *ngIf="!userSelected" style="color: white; font-size: 14px;"> Click on user item </span>
    <h4 style="color: white; font-size: 14px;">{{ userSelected?.name }}</h4>
    <ul>
        <li *ngFor="let user of headerUser">
            <app-user [headerUser]="user" (userSelected)="userSelected = user"></app-user>
            <span (click)="removeUser(user.name)" style="cursor: pointer;"> X </span> 
        </li>
    </ul>

    <!-- Added new Users -->
    <input type="text" #userNameElement>
    <button (click)="addUser(userNameElement.value); userNameElement.value = '';" style="cursor: pointer"> + </button> 

</div>

<div style="background: grey; margin: 20px; padding: 20px;">
    <h3>User-card component</h3>
    <app-user-card [colorName]="colorName" [cardName]="cardName"></app-user-card>

</div>