<div>
    <h3>Lazy loading rout</h3>
    <a routerLink="admin" class="router-link"> ADMIN </a>
</div>

<div>
    <span>Multiple router-outlets</span>
    <br>
    <a [routerLink]="[{ outlets: {popup: 'login'} }]" class="router-link"> Show popup </a>
    <a [routerLink]="[{ outlets: {popup: null} }]" class="router-link"> Hide popup </a>

</div>


<div class="routers" style="border: 1px solid red">
    <span>Router outlet box</span>
    <br>
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
</div>

<h3> Working whith Navigate </h3>
<div class="nav-wrapp">
    <span>Navigate text</span>
    <button (click)="goToUser(17)">GO TO USER</button>
</div>

<div class="links-routers" style="border: 1px solid blue">
    <span>Router links</span>
    <br>
    <a routerLink="page1" class="router-link" routerLinkActive="active-class"> Page1 </a>
    <a routerLink="page2" class="router-link" routerLinkActive="active-class"> Page2 </a>
    <a routerLink="page2" [queryParams]="{q: paramsNumber}" class="router-link" routerLinkActive="active-class"> Page2 </a>
    <a [routerLink]="['page3', userId]" class="router-link" routerLinkActive="active-class"> Page {{ userId }} </a> 
</div>

<div class="cars-wrapp">
    <app-cars-list></app-cars-list>
    <app-cars-table></app-cars-table>
</div>

<div style="background: yellowgreen; padding: 20px;">

    <h3>{{ title }}</h3>
    <!-- <span class="red"> Hi! </span> -->
    <div [class]="myClass"> Hi! </div>
    <div class="yellow" [style.background]="'yellow'"> Hi! </div>
    <div class="span" [style.width.px]="200"> Hi! </div>
    <!-- <div class="span" [style.width.px]="myWidth"> Hi! </div> -->

    <div style="background: red; margin: 20px; padding: 20px;">
        <h2>Header component:</h2>
        <app-header></app-header>
    </div>

    <app-item>
        <h4> Hello! {{ itemTitle }}</h4>
        <section> Lorem ipsum dolor sit amet consectetur adipisicing elit.</section>
    </app-item>

    <h3>Using directives</h3>

    <div> Direcrive - appColory</div>
    <div appColory>Lorem ipsum dolor</div> 

    <div> Direcrive - appDelay</div>
    <div *appDelay="3">Lorem ipsum dolor 11111111</div>

    <div> Direcrive - appDelay example</div>

    <div *ngFor="let delay of [1, 2, 3, 4, 5]">
        <div *appDelay="delay">Lorem ipsum dolor 222222222</div>
    </div>

    <div> Working all elements with directives</div>
    
    <div appColory #colory="colory">Lorem ipsum dolor ***** </div>
    <div appColory #colory1="colory">Lorem ipsum dolor ***** </div> 
    <div appColory #colory2="colory">Lorem ipsum dolor ***** </div> 
    
    <button (click)="colory.setRandomColor(); colory1.setRandomColor(); colory2.setRandomColor();">Change color</button>


</div>