.red {
    width: 100px;
    background: red;
    color: white;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px;
}
.blue {
    width: 100px;
    background: blue;
    color: white;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px;
}
.green {
    width: 100px;
    background: green;
    color: white;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px;
}

.yellow {
    width: 100px;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px;
    margin: 10px 0px;
}

.span {
    /* border: 1px solid red; */
}

.active-class {
    background: red !important;
    color: white !important;
    border: 1px solid transparent !important;
}

.router-link {
    display: block;
    padding: 5px 0px;
    background: transparent;
    border: 1px solid grey;
    color: #000;
    margin: 5px 0px;
    width: 100px;
    text-align: center;
}