<div class="cars-wrapp">
    <app-cars-list></app-cars-list>
    <app-cars-table></app-cars-table>
</div>

<div style="background: yellowgreen; padding: 20px;">

    <h3>{{ title }}</h3>
    <!-- <span class="red"> Hi! </span> -->
    <div [class]="myClass"> Hi! </div>
    <div class="yellow" [style.background]="'yellow'"> Hi! </div>
    <div class="span" [style.width.px]="200"> Hi! </div>
    <!-- <div class="span" [style.width.px]="myWidth"> Hi! </div> -->

    <div style="background: red; margin: 20px; padding: 20px;">
        <h2>Header component:</h2>
        <app-header></app-header>
    </div>

    <app-item>
        <h4> Hello! {{ itemTitle }}</h4>
        <section> Lorem ipsum dolor sit amet consectetur adipisicing elit.</section>
    </app-item>

    <h3>Using directives</h3>

    <div> Direcrive - appColory</div>
    <div appColory>Lorem ipsum dolor</div> 

    <div> Direcrive - appDelay</div>
    <div *appDelay="3">Lorem ipsum dolor 11111111</div>

    <div> Direcrive - appDelay example</div>

    <div *ngFor="let delay of [1, 2, 3, 4, 5]">
        <div *appDelay="delay">Lorem ipsum dolor 222222222</div>
    </div>

    <div> Working all elements with directives</div>
    
    <div appColory #colory="colory">Lorem ipsum dolor ***** </div>
    <div appColory #colory1="colory">Lorem ipsum dolor ***** </div> 
    <div appColory #colory2="colory">Lorem ipsum dolor ***** </div> 
    
    <button (click)="colory.setRandomColor(); colory1.setRandomColor(); colory2.setRandomColor();">Change color</button>


</div>