<div>
    <div (click)="changeColor('yellow')" [style.color]="myColor"> user works!</div>
    <input type="text" (input)="changeColor($event.trget.value)" (keydown.enter)="changeColor($event.target.value)">

    <br>
    <div>User name: {{user.name}}</div>
    <div>User age: {{user.age}}</div>
    <div>{{'Hello ' + user.name + ' !'}}</div>
    <br>


  <br>
  <h4 [style.background]="myBackground">New input</h4>
  <!-- <input type="text" (input)="changeColorTarget($event.target.value)" (keydown.enter)="changeColorTarget($event.target.value)"> -->

  <br>
  <h4 [style.color]="myColor">Connect input and button</h4>
  <input type="text" #colorElement>
  <button (click)="changeColorTarget(colorElement.value)">Create color</button>
</div>
